# Gradle
.gradle/
build/

# IDE
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.settings/
.classpath
.project

# Intellij
out/

# Compiled files
*.class

# Logs
*.log
log/
logs/

# Env files
*.env

# Maven
target/
pom.xml.*
*.jar
target/

# Dependencies
lib/
libs/
*.jar

# OS-specific files
.DS_Store
Thumbs.db

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
